@font-face {
    font-family: "Enchanting_Celebrations";
    src: url("../fonts/enchanting_celebrations/Enchanting-Celebrations.ttf") format('truetype');
}

@font-face {
    font-family: "tamarillo";
    src: url("../fonts/tamarillo/tamarillo.ttf") format('truetype');
}

.header-content h1 {
    font-family: "tamarillo" !important;
}

.header {
    height: calc(100vh - 495px) !important;
    min-height: 485px !important;
}

.header-video {
    height: calc(100vh - 495px) !important;
    min-height: 485px !important;
}

.header-overlay {
    height: calc(100vh - 495px) !important;
    min-height: 485px !important;
    background-color: #79279259 !important;
}

#carousel-fluid {
    min-height: 315px !important;
}

#pre-panel {
    margin: 60px 20px;
}

.cont-editor {
    background-color: #824A97;
    padding: 20px !important;
    height: 100%;
    border-radius: 20px;
}

.title-principal {
    color: #fff !important;
}

.sub-principal {
    text-transform: none !important;
    color: #fff !important;
}

input[type=radio] {
    transform: scale(1.4) !important;
}

.texto {
    margin: 12% 0 3% 0;
}

.nota-up {
    height: 260px;
}

.caja-plantilla-principal {
    background-color: #824A97;
    padding: 20px 10px 40px 10px;
    border-radius: 0 0 30px 30px;
}

.caja-plantilla {
    transition: 1s;
    background-color: #EC6460;
    border-radius: 20px;
    padding: 6px;
    border: 0;
}

.caja-plantilla:hover {
    transform: scale(1.03);
    transition: 1s;
}

.caja-plantilla:focus {
    outline: #EC6460;
}

.caja-plantilla img {
    border-radius: 20px;
    ;
}

.sec-edicion {
    height: 90%;
}

.btn-mor-pop {
    width: 80% !important;
}

.btn-mel-pop {
    width: 90% !important;
}

.pre-mess {
    border-radius: 20px;
    background-color: #824A97;
    width: 100%;
    padding: 20px;
}

::placeholder {
    color: #824A97;
}

.disp-float {
    display: none;
    transition: 1.5s;
}


/*
    GENERAL
*/

.blanco {
    color: #fff !important;
}

.btn-melon {
    background-color: #EC6460 !important;
    border-radius: 20px !important;
    width: 45%;
    color: #fff !important;
}

.btn-morado {
    background-color: #824A97 !important;
    border-radius: 20px !important;
    width: 45%;
    color: #fff !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


/* CONTROLES DE VIDEO */

.btn-pre-video {
    width: 80% !important;
    margin-top: 10px !important;
}

.video-principal-h {
    width: 100% !important;
    height: auto !important;
}

.video-principal-v {
    height: 700px !important;
    width: auto !important;
}

video {
    border-radius: 20px !important;
    vertical-align: middle !important;
}


/* Overlay video */

.video-video {
    position: relative;
    display: inline-block;
}

.video-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.vc-none {
    visibility: hidden;
}

.vc-s {
    visibility: visible !important;
}

#texto-panel-v {
    width: 26%;
    padding: 4% 0 0 0;
    border: 0px;
    height: 86%;
    background: transparent;
    resize: none;
    outline: none;
}

.texto-1-v {
    font-family: "Enchanting_Celebrations" !important;
    color: #D22344 !important;
    font-size: 60px !important;
    margin-top: 6%;
}

.texto-2-v {
    font-family: 'tamarillo' !important;
    color: #E04A3B !important;
    font-size: 60px !important;
}

.texto-3-v {
    font-family: 'Lavanderia' !important;
    color: #ffffff !important;
    font-size: 58px !important;
    padding-right: 8% !important;
}

#texto-panel-h {
    /*padding-top: 20px;*/
    width: 60%;
    margin: 4% 0 4% 0;
    border: 0px;
    height: 77%;
    background: transparent;
    resize: none;
    outline: none;
}

.texto-1-h {
    font-family: "Enchanting_Celebrations" !important;
    color: #D22344!important;
    font-size: 80px !important;
}

.texto-2-h {
    font-family: 'tamarillo' !important;
    color: #E04A3B !important;
    font-size: 75px !important;
}

.texto-3-h {
    font-family: 'Lavanderia' !important;
    color: #ffffff !important;
    font-size: 80px !important;
}

.mc-panel {
    width: auto !important;
}

.img-foo {
    margin-left: 0;
}


/*
.header-video video {
    margin-top: -150px;
}
*/

.txtarea {
    overflow: hidden;
}