@media (max-width: 1200px) {
    .title-principal {
        font-size: 80px;
    }
    #texto-panel {
        width: 34%;
    }
    #texto-panel-v {
        width: 34%;
    }
    .texto-1-h {
        font-family: "Enchanting_Celebrations" !important;
        color: #D22344!important;
        font-size: 70px !important;
    }
    .texto-3-h {
        font-size: 70px !important;
    }
    .texto {
        margin: 5% 0 2% 0 !important;
    }
}

@media (max-width: 992px) {
    #texto-panel {
        width: 46%;
    }
    .btn-pre-video {
        font-size: 12px;
    }
    #texto-panel-v {
        width: 48%;
    }
    #texto-panel-h {
        padding-top: 15px;
    }
    .texto-1-h {
        font-size: 50px !important;
    }
    .texto-2-h {
        font-size: 35px !important;
    }
    .texto-3-h {
        font-size: 50px !important;
    }
    /*
    .header-video video {
        margin-top: -50px;
    }
    */
}

@media (max-width: 960px) {
    .title-principal {
        font-size: 60px;
    }
}

@media (max-width: 768px) {
    .btn-melon {
        width: 70%;
    }
    .btn-morado {
        width: 70%;
    }
    .header {
        min-height: 395px !important;
    }
    .header-video {
        min-height: 395px !important;
    }
    .header-overlay {
        min-height: 395px !important;
    }
    #carousel-fluid {
        min-height: 440px !important;
    }
    #texto-panel {
        width: 64%;
    }
    #container-plantilla {
        max-width: 100% !important;
    }
    .btn-pre-video {
        font-size: 10px;
    }
    #texto-panel-v {
        width: 64%;
    }
    .texto-3-v {
        padding-right: 14% !important;
    }
    .texto-1-h {
        font-size: 35px !important;
    }
    .texto-2-h {
        font-size: 25px !important;
    }
    .texto-3-h {
        font-size: 40px !important;
    }
    .img-foo {
        margin-left: 25%;
    }
    /*
    .header-video video {
        margin-top: 0px;
    }
    */
}

@media (max-width: 576px) {
    .btn-melon {
        width: 100%;
    }
    .btn-morado {
        width: 100%;
    }
    .header-content .texto p {
        font-size: 1rem !important;
    }
    #texto-panel {
        width: 74%;
    }
    .container-plantilla {
        max-width: 100% !important;
    }
    .titulo-md {
        font-size: xx-large;
    }
    .btn-pre-video {
        font-size: 10px !important;
    }
    #texto-panel-v {
        width: 80%;
    }
    .texto-1-v {
        margin-top: 16%;
    }
    #texto-panel-h {
        padding-top: 10px;
    }
    #texto-panel-h {
        margin: 3% 0 4% 0;
    }
    .texto-3-h {
        font-size: 34px !important;
    }
}

@media (max-width: 450px) {
    #texto-panel {
        width: 88%;
    }
    .container-plantilla {
        max-width: 100% !important;
    }
    .video-principal-v {
        height: 500px !important;
        width: auto !important;
    }
    #texto-panel-v {
        width: 65%;
    }
    .texto-1-v {
        font-size: 48px !important;
    }
    .texto-2-v {
        margin-top: 8%;
        font-size: 34px !important;
    }
    .texto-3-v {
        font-size: 60px !important;
        margin-top: 4%;
    }
    .texto-1-h {
        font-size: 25px !important;
    }
    .texto-2-h {
        font-size: 18px !important;
    }
    .texto-3-h {
        font-size: 25px !important;
    }
}

@media (max-width: 360px) {
    #video-principal {
        width: 500%;
    }
    #texto-panel-v {
        width: 88%;
    }
    .texto-1-h {
        font-size: 16px !important;
    }
    .texto-2-h {
        font-size: 12px !important;
    }
    .texto-3-h {
        font-size: 18px !important;
    }
}