@media (max-width: 1200px) {
    .circle-img {
        margin-left: -5% !important;
    }
}

@media (max-width: 768px) {
    .par-img {
        font-size: 11px !important;
    }
    .img-mano {
        width: 80px !important;
        border-radius: 100%;
    }
    h5 {
        font-size: 16px !important;
    }
}

@media (max-width: 576px) {
    .texto {
        margin: 30px 0 30px 0 !important;
    }
    .col-img {
        width: 85% !important;
    }
    .font-ine {
        font-size: inherit !important;
    }
    .btn-melon {
        width: 90% !important;
    }
    .nombre-rec {
        font-size: revert !important;
    }
}